.back {
  width: 50px;
  height: 50px;
  background-color: #faffb8;
  border: 1px solid black;
  font-weight: bold;
  border-radius: 50%;
  /* 让文字水平居中 */
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* 固定左上角 */
  position: fixed;
  left: 30px;
  top: 30px;
}
.box_main {
  width: 1000px;
  height: 800px;
  margin: 0 auto;
}
.top {
  width: 100%;
  height: 100px;
  background-color: #f38181;
  display: inline-block;
}
.bar {
  width: 100%;
  height: 50px;
  background-color: #95e1d3;
  display: inline-block;
}
.left {
  width: 200px;
  height: 600px;
  background-color: #eaffd0;
  float: left;
}
.mid{
    width: 600px;
    height: 600px;
    background-color: #78c1f3;
    float: left;
}
.right {
  width: 200px;
  height: 600px;
  background-color: #fce38a;
  float: left;
}
.bottom {
  width: 100%;
  height: 100px;
  background-color: #f38181;
  /* 需要继续用float，紧随right之后换行显示 */
  /* 用块也可以 display: inline-block; */
  float: left;
}
